<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2-debug</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/4d095051e6.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/header' %>
  <div class='body'>
    <div class="container">
      <div class='row'>
        <p id="notice"><%= notice %></p>
        <%= yield %>
      </div>
    </div>
  </div>



    <%= render 'layouts/footer' %>
  </body>
</html>
